.work {
    padding-bottom: 94px;
}

.work__list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.work__item {
    position: relative;
}

.work__img {
    display: block;
}

.work__overlay {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
}